[submodule "deps/dynarr"]
	path = deps/dynarr
	url = https://github.com/evjeesm/dynarr
[submodule "deps/sparse"]
	path = deps/sparse
	url = https://github.com/evjeesm/sparse
[submodule "deps/hashmap"]
	path = deps/hashmap
	url = https://github.com/evjeesm/hashmap
[submodule "deps/circbuf"]
	path = deps/circbuf
	url = https://github.com/evjeesm/circbuf
